Repository DLTcollab/tangle-accelerator, pull requests merged in 2019-09, with the labels that each got.

#303 refactor(logger): Wrap log_xxx() into macro
  accelerator/apis.c
  accelerator/common_core.c
  accelerator/config.c
  accelerator/conn_mqtt.c
  accelerator/errors.h
  accelerator/http.c
  accelerator/main.c
  accelerator/server.cc
  connectivity/mqtt/client_common.c
  connectivity/mqtt/duplex_callback.c
  connectivity/mqtt/duplex_utils.c
  connectivity/mqtt/pub_utils.c
  connectivity/mqtt/sub_utils.c
  serializer/serializer.c
  utils/backend_redis.c
  utils/pow.c
Labels: C-enhancement

#262 feat(reg): Fix regression test API format
  accelerator/apis.c
  accelerator/common_core.c
  tests/regression/runner.py
Labels: A-core, A-tests, C-bug, S-ready for review

#311 Fix(README): Revise section Connectivity and buildifier
  README.md
Labels: C-doc

#253 Interface for accessing transactions with ScyllaDB backend
  accelerator/errors.h
  storage/BUILD
  storage/scylla_api.c
  storage/scylla_api.h
  tests/BUILD
  tests/test_define.h
  tests/test_scylla.c
Labels: A-storage, C-feature

#316 feat(utils): Add datatype bundle object array
  accelerator/common_core.c
  tests/test_common.cc
  tests/test_define.h
  utils/BUILD
  utils/bundle_array.h
  utils/pow.h
Labels: A-core, C-cleanup, C-feature
