Repository DLTcollab/tangle-accelerator, pull requests merged in 2019-12, with the labels that each got.

#350 Refactor essential configuration structures
  accelerator/config.c
  accelerator/config.h
  accelerator/conn_mqtt.c
  accelerator/http.c
  accelerator/main.c
  accelerator/server.cc
  connectivity/mqtt/duplex_callback.c
  serializer/serializer.c
  serializer/serializer.h
  tests/driver.c
Labels: S-ready for review

#358 Not reveal private TA configuration through publish APIs
  accelerator/apis.c
  accelerator/apis.h
  accelerator/http.c
  accelerator/server.cc
  serializer/serializer.c
  serializer/serializer.h
Labels: A-api, S-ready for review

#347 Add an option for ScyllaDB connection
  accelerator/BUILD
  accelerator/config.c
  accelerator/config.h
  accelerator/conn_mqtt.c
  accelerator/main.c
  accelerator/message.h
  accelerator/server.cc
  storage/BUILD
  storage/scylla_api.c
  storage/scylla_api.h
  tests/driver.c
  tests/test_scylla.c
Labels: A-core, A-storage, S-ready for review

#361 Rework data model and query functions for transaction reattachment
  storage/scylla_api.c
  storage/scylla_api.h
  storage/scylla_table.c
  storage/scylla_table.h
  tests/test_scylla.c
Labels: A-storage, S-ready for review

#366 Refactor the architecture of scylladb codebase
  accelerator/config.h
  accelerator/errors.h
  storage/BUILD
  storage/scylla_table.c
  storage/scylladb_client.c
  storage/scylladb_client.h
  storage/scylladb_identity.c
  storage/scylladb_identity.h
  storage/scylladb_permanode.c
  storage/scylladb_permanode.h
  storage/scylladb_utils.c
  storage/scylladb_utils.h
  storage/ta_storage.h
  tests/BUILD
  tests/test_scylladb.c
Labels: A-storage

#378 Amend the API to get TA information
  accelerator/server.cc
Labels: A-api, C-bug

#373 feat: Proxy API passthrough support
  README.md
  accelerator/common_core.c
  accelerator/config.c
  accelerator/config.h
  accelerator/http.c
  accelerator/message.h
  accelerator/proxy_apis.c
  accelerator/proxy_apis.h
  accelerator/server.cc
  tests/driver.c
  tests/test_timer.c
Labels: A-api, C-feature

#380 Check the URL length does match the specific regular expression
  accelerator/http.c
Labels: C-bug

#382 fix: bazel caused IRI connection error
  accelerator/BUILD
  connectivity/mqtt/BUILD
Labels: C-bug

#395 fix: Fix wrongly define MQTT_ENABLE in accelerator
  accelerator/BUILD
  accelerator/config.c
  accelerator/config.h
  accelerator/conn_mqtt.c
Labels: A-api, A-mqtt, C-bug, P-critical

#396 Allow trailing slash in url matcher
  accelerator/http.c
Labels: A-router, C-bug, P-high
