Repository DLTcollab/tangle-accelerator, pull requests merged in 2019-11, with the labels that each got.

#342 fix: Fix missing transaction hashes
  tests/test_define.h
Labels: A-tests, C-bug

#320 fix(server): Apply pause() to wait signal for termination in MHD
  accelerator/http.c
  accelerator/http.h
  accelerator/main.c
Labels: A-core, C-performance, S-ready for review

#340 Fix server hang on request to /address
  accelerator/BUILD
  accelerator/apis.c
  accelerator/common_core.c
  accelerator/common_core.h
  accelerator/errors.h
  accelerator/server.cc
  tests/BUILD
  tests/test_timer.c
  utils/BUILD
  utils/timer.c
  utils/timer.h
Labels: A-core, P-high, S-ready for review
