Repository DLTcollab/tangle-accelerator, pull requests merged in 2020-06, with the labels that each got.

#654 refactor(api): Remove not necessary APIs
  accelerator/core/apis.c
  accelerator/core/apis.h
  accelerator/core/core.c
  accelerator/core/core.h
  accelerator/core/response/response.h
  accelerator/core/response/ta_generate_address.c
  accelerator/core/response/ta_generate_address.h
  accelerator/core/response/ta_get_tips.c
  accelerator/core/response/ta_get_tips.h
  accelerator/core/serializer/serializer.c
  accelerator/core/serializer/serializer.h
  common/BUILD
  common/macros.h
  connectivity/http/http.c
  connectivity/mqtt/duplex_callback.c
  connectivity/mqtt/duplex_utils.c
  connectivity/mqtt/usage.md
  tests/api/driver.c
  tests/regression/common.py
  tests/regression/test_suite/generate_address.py
  tests/regression/test_suite/get_tips.py
  tests/regression/test_suite/get_tips_pair.py
  tests/regression/test_suite/send_trytes.py
  tests/unit-test/test_serializer.c
Labels: A-api, C-refactor

#601 fix(endpoint): Use the logger
  endpoint/endpoint_core.c
  endpoint/endpoint_core.h
  endpoint/test_endpoint_core.c
  tests/unit-test/test_cipher.c
  utils/BUILD
  utils/cipher.c
  utils/cipher.h
Labels: A-endpoint, C-refactor

#653 refactor(WORKSPACE): Migrate IOTA library to iota.c
  Makefile
  WORKSPACE
  accelerator/BUILD
  accelerator/config.c
  accelerator/config.h
  accelerator/core/BUILD
  accelerator/core/core.c
  accelerator/core/mam_core.c
  accelerator/core/request/BUILD
  accelerator/core/response/BUILD
  common/BUILD
  connectivity/http/BUILD
  connectivity/mqtt/BUILD
  endpoint/BUILD
  endpoint/endpointComp/Component.cdef
  endpoint/hal/BUILD
  endpoint/test_endpoint_core.c
  reattacher/BUILD
  storage/BUILD
  utils/BUILD
  utils/cache/BUILD
  utils/connectivity/BUILD
  utils/text_serializer.c
Labels: C-deployment, C-refactor

#651 cleanup(common): Clean redundant status code
  accelerator/config.c
  accelerator/core/apis.c
  accelerator/core/core.c
  accelerator/core/mam_core.c
  accelerator/core/pow.c
  accelerator/core/proxy_apis.c
  accelerator/core/request/ta_recv_mam.c
  accelerator/core/request/ta_send_mam.c
  accelerator/core/response/ta_recv_mam.h
  accelerator/core/response/ta_send_mam.c
  accelerator/core/response/ta_send_mam.h
  accelerator/core/serializer/ser_helper.h
  accelerator/core/serializer/serializer.c
  common/ta_errors.c
  common/ta_errors.h
  connectivity/common.c
  connectivity/common.h
  connectivity/http/http.c
  connectivity/mqtt/duplex_callback.c
  connectivity/mqtt/duplex_utils.c
  connectivity/mqtt/mqtt_common.c
  connectivity/mqtt/pub_utils.c
  connectivity/mqtt/sub_utils.c
  endpoint/endpoint_core.h
  reattacher/reattacher_main.c
  storage/scylladb_client.c
  storage/scylladb_identity.c
  storage/scylladb_identity.h
  storage/scylladb_permanode.c
  storage/scylladb_utils.c
  tests/api/driver_core.c
  utils/bundle_array.h
  utils/cache/backend_redis.c
  utils/cache/cache.h
  utils/char_buffer_str.h
  utils/connectivity/conn_http.c
  utils/connectivity/conn_http.h
  utils/fill_nines.h
  utils/text_serializer.h
Labels: A-common, C-cleanup

#668 fix(endpoint): Add check inside HTTP(S) module
  utils/https.c
  utils/https.h
Labels: A-endpoint, C-bug

#657 fix(core): Limit the maximun response fetch by tag
  accelerator/config.h
  accelerator/core/apis.c
  accelerator/core/core.c
Labels: A-core, C-bug

#676 feat: Allow HORNET/SSL connection
  README.md
  WORKSPACE
  accelerator/cli_info.h
  accelerator/config.c
  accelerator/config.h
  accelerator/core/apis.c
  accelerator/core/apis.h
  accelerator/core/core.c
  accelerator/core/core.h
  accelerator/core/mam_core.c
  accelerator/core/proxy_apis.h
  accelerator/core/serializer/serializer.c
  accelerator/core/serializer/serializer.h
  accelerator/main.c
  common/ta_errors.c
  common/ta_errors.h
  connectivity/http/http.c
  connectivity/mqtt/duplex_callback.c
  docs/reattacher.md
  docs/transaction-buffer.md
  reattacher/reattacher_main.c
  tests/api/driver.c
  tests/api/driver_setting.py
  tests/regression/common.sh
  tests/unit-test/test_serializer.c
Labels: C-feature

#678 feat(endpoint): Specify host-port pair and SSL seed at runtime
  Makefile
  endpoint/BUILD
  endpoint/endpointComp/endpoint.c
  endpoint/endpoint_core.c
  endpoint/endpoint_core.h
  endpoint/unit-test/test_endpoint_core.c
Labels: A-endpoint, C-refactor

#683 fix(coverity): Fix coverity reported bugs
  accelerator/core/apis.c
  accelerator/core/core.c
  accelerator/core/mam_core.c
  connectivity/mqtt/duplex_utils.c
  storage/scylladb_permanode.c
Labels: C-bug
