Repository DLTcollab/tangle-accelerator, pull requests merged in 2020-07, with the labels that each got.

#666 fix(doc): Improve codebase into Doxygen-friendly
  CONTRIBUTING.md
  Doxyfile
  README.md
  accelerator/config.h
  accelerator/core/apis.h
  accelerator/core/core.c
  accelerator/core/core.h
  accelerator/core/mam_core.c
  accelerator/core/mam_core.h
  accelerator/core/pow.h
  accelerator/core/proxy_apis.h
  accelerator/core/request/ta_find_transaction_objects.h
  accelerator/core/request/ta_recv_mam.h
  accelerator/core/request/ta_send_mam.h
  accelerator/core/request/ta_send_transfer.h
  accelerator/core/response/ta_fetch_txn_with_uuid.h
  accelerator/core/response/ta_find_transactions.h
  accelerator/core/response/ta_find_transactions_obj.h
  accelerator/core/response/ta_recv_mam.h
  accelerator/core/response/ta_send_mam.h
  accelerator/core/response/ta_send_transfer.h
  accelerator/core/serializer/ser_helper.h
  accelerator/core/serializer/ser_mam.h
  accelerator/core/serializer/serializer.h
  common/debug.h
  common/macros.h
  common/ta_errors.h
  connectivity/http/http.h
  connectivity/mqtt/duplex_callback.h
  connectivity/mqtt/duplex_utils.h
  connectivity/mqtt/usage.md
  docs/MQTT-mode-intro.md
  docs/build.md
  docs/endpoint-hal.md
  docs/endpoint.md
  docs/permanode.md
  docs/reattacher.md
  docs/transaction-buffer.md
  endpoint/endpointComp/endpoint.h
  endpoint/endpoint_core.h
  endpoint/hal/device.h
  pem/README.md
  storage/scylladb_identity.h
  tests/common.h
  utils/bundle_array.h
  utils/cache/cache.h
  utils/char_buffer_str.h
  utils/cipher.h
  utils/cpuinfo.h
  utils/https.h
  utils/text_serializer.h
  utils/tryte_byte_conv.h
Labels: C-doc

#701 fix(endpoint): Reduce the build process of legato target
  endpoint/build-legato.sh
Labels: A-endpoint, C-refactor

#702 fix(endpoint): Fix null error message
  utils/cipher.c
Labels: A-endpoint, A-utils, C-bug

#703 Fix(endpoint): Fix device not found error message
  endpoint/endpointComp/endpoint.c
  endpoint/hal/device.c
Labels: A-endpoint, C-bug

#711 fix(test): Notify initialization by domain socket
  accelerator/config.c
  accelerator/config.h
  accelerator/main.c
  endpoint/unit-test/driver.sh
  tests/regression/common.sh
  tests/regression/router-sanitizer.sh
  tests/regression/run-api-with-mqtt.sh
  tests/regression/run-api.sh
Labels: C-bug, P-critical

#698 fix(coverity): Fix security issues coverity found
  accelerator/config.c
  accelerator/core/serializer/ser_mam.c
  common/debug.c
  utils/cache/backend_redis.c
  utils/cpuinfo.h
Labels: C-bug

#699 refactor: Format shell scripts
  README.md
  endpoint/build-legato.sh
  endpoint/unit-test/driver.sh
  hooks/autohook.sh
  hooks/ci_format_check
  hooks/formatter
  hooks/scripts/format_check
  hooks/scripts/function_check
  tests/coverity_analysis.sh
  tests/endpoint/common.sh
  tests/endpoint/test-WP77.sh
  tests/regression/common.sh
  tests/regression/router-sanitizer.sh
  tests/regression/run-api-with-mqtt.sh
  tests/regression/run-api.sh
Labels: C-refactor

#715 fix(Endpoint): Move endpoint used only source code
  endpoint/BUILD
  endpoint/cipher.c
  endpoint/cipher.h
  endpoint/connectivity/BUILD
  endpoint/connectivity/conn_http.c
  endpoint/connectivity/conn_http.h
  endpoint/endpointComp/Component.cdef
  endpoint/endpointComp/endpoint.c
  endpoint/endpoint_core.c
  endpoint/https.c
  endpoint/https.h
  endpoint/text_serializer.c
  endpoint/text_serializer.h
  endpoint/unit-test/BUILD
  endpoint/unit-test/test_endpoint_core.c
  endpoint/unit-test/test_http.c
  tests/unit-test/BUILD
  tests/unit-test/test_cipher.c
  tests/unit-test/test_text_serializer.c
  utils/BUILD
Labels: A-endpoint, C-refactor

#705 feat(endpoint): Provide HTTP(S) response for endpoint
  endpoint/connectivity/conn_http.c
  endpoint/connectivity/conn_http.h
  endpoint/endpoint_core.c
  endpoint/https.c
  endpoint/https.h
  endpoint/unit-test/BUILD
  endpoint/unit-test/test_http.c
  tests/endpoint/test-endpoint.sh
Labels: A-endpoint, C-bug

#659 feat: Runtime commmand line interface
  accelerator/BUILD
  accelerator/cli_info.h
  accelerator/config.c
  accelerator/config.h
  accelerator/core/apis.c
  accelerator/core/apis.h
  accelerator/core/core.c
  accelerator/core/core.h
  accelerator/core/mam_core.c
  accelerator/core/pow.c
  accelerator/core/pow.h
  accelerator/core/proxy_apis.c
  accelerator/core/serializer/serializer.c
  accelerator/core/serializer/serializer.h
  accelerator/main.c
  accelerator/mqtt_main.c
  accelerator/runtime_cli.c
  accelerator/runtime_cli.h
  common/debug.c
  common/logger.h
  connectivity/common.c
  connectivity/common.h
  connectivity/http/http.c
  connectivity/http/http.h
  connectivity/mqtt/duplex_callback.c
  connectivity/mqtt/duplex_callback.h
  connectivity/mqtt/duplex_utils.h
  connectivity/mqtt/mqtt_common.h
  connectivity/mqtt/pub_utils.h
  connectivity/mqtt/sub_utils.h
  endpoint/unit-test/BUILD
  storage/scylladb_utils.c
  tests/BUILD
  tests/api/BUILD
  tests/api/driver.c
  tests/api/driver_core.c
  tests/api/mam_test.c
  tests/unit-test/BUILD
  utils/cache/backend_redis.c
  utils/cache/cache.h
  utils/timer.c
  utils/timer.h
Labels: A-config, C-feature

#726 fix(mam): Move definition to avoid SEGV fault
  accelerator/core/mam_core.c
Labels: C-bug

#727 refactor: Bump version
  Doxyfile
  accelerator/config.h
Labels: C-deployment

#722 fix(Endpoint): Fix double free error
  endpoint/connectivity/conn_http.c
Labels: A-endpoint, C-bug

#730 fix(Endpoint): Specify host info from CLI
  tests/endpoint/common.sh
  tests/endpoint/test-WP77.sh
  tests/endpoint/test-endpoint.sh
Labels: A-endpoint, C-feature

#734 fix(serializer): Ensure not derefering not-string field
  accelerator/core/serializer/ser_mam.c
Labels: A-mam, C-bug, P-critical
