Repository DLTcollab/tangle-accelerator, pull requests merged in 2020-02, with the labels that each got.

#459 fix(db) : Revise tests for ScyllaDB backend
  storage/scylladb_identity.c
  storage/scylladb_identity.h
  storage/scylladb_permanode.c
  storage/scylladb_permanode.h
  storage/scylladb_utils.c
  storage/scylladb_utils.h
  tests/test_scylladb.c
Labels: A-storage, C-bug

#465 Turn off logger after initialization and set verbose mode by default
  README.md
  accelerator/cli_info.h
  accelerator/config.c
  accelerator/core/serializer/serializer.c
  accelerator/main.c
  accelerator/mqtt_main.c
  common/logger.h
Labels: A-router, C-bug, C-enhancement

#475 refactor(config): Bump version number
  accelerator/config.h
Labels: A-config, C-deployment

#449 feat(regression):Implement load test of sending transfer
  tests/regression/load_test_suite/TransferTest.py
  tests/regression/load_test_suite/__init__.py
  tests/regression/load_test_suite/readme.md
Labels: A-tests, C-performance

#456 feat(api): Implement API get IRI connection
  accelerator/core/BUILD
  accelerator/core/apis.c
  accelerator/core/apis.h
  accelerator/core/core.c
  accelerator/core/core.h
  accelerator/core/proxy_apis.c
  accelerator/core/serializer/serializer.c
  accelerator/core/serializer/serializer.h
  common/ta_errors.h
  connectivity/http/http.c
  tests/driver.c
  tests/test_serializer.c
  utils/BUILD
  utils/char_buffer_str.h
Labels: A-api, A-core, C-feature

#478 docs(README): Fix typo in README
  README.md
Labels: C-doc

#476 feat(regression): Implement regression tests for tag-related API
  tests/regression/test_suite/find_transactions_hash_by_tag.py
  tests/regression/test_suite/find_transactions_object_by_tag.py
Labels: A-tests, C-enhancement

#480 fix(regression): Fix command line option
  tests/regression/common.sh
  tests/regression/run-api.sh
Labels: A-tests, C-bug

#490 Hotfix: Allow sending transfer when milestone shutdown
  accelerator/cli_info.h
  accelerator/config.c
  accelerator/config.h
  accelerator/core/apis.c
  accelerator/core/apis.h
  accelerator/core/core.c
  accelerator/core/core.h
  connectivity/http/http.c
  tests/driver.c
Labels: A-api, A-config, C-bug

#494 refactor(driver): Obtain testing cases from CLI commands
  accelerator/config.c
  accelerator/config.h
  accelerator/core/serializer/serializer.c
  tests/BUILD
  tests/api/BUILD
  tests/api/driver.c
  tests/api/driver_setting.py
  tests/test_define.h
  tests/unit-test/BUILD
  tests/unit-test/iota_api_mock.cc
  tests/unit-test/iota_api_mock.hh
  tests/unit-test/test_cache.c
  tests/unit-test/test_core.cc
  tests/unit-test/test_pow.c
  tests/unit-test/test_scylladb.c
  tests/unit-test/test_serializer.c
  tests/unit-test/test_timer.c
Labels: A-tests, C-enhancement

#499 fix(http): Revise X-IOTA-API-Version CORS issue
  connectivity/http/http.c
Labels: A-router, C-bug
