Repository DLTcollab/tangle-accelerator, pull requests merged in 2020-03, with the labels that each got.

#487 fix(cli): Fix no argument commands
  accelerator/cli_info.h
  accelerator/config.c
  accelerator/main.c
  accelerator/mqtt_main.c
Labels: A-config, C-bug

#495 fix(config): Report wrong commands in config file
  accelerator/config.c
  accelerator/config.h
Labels: A-config, C-bug

#501 docs(README): Fix unavailable link
  README.md
Labels: C-doc

#496 feat(common): Convert enum status_t to string
  accelerator/core/apis.c
  common/BUILD
  common/ta_errors.c
  common/ta_errors.h
  connectivity/mqtt/mqtt_common.c
  storage/scylladb_identity.c
  storage/scylladb_identity.h
  storage/scylladb_permanode.c
  storage/scylladb_permanode.h
Labels: A-common, C-feature

#493 refactor: refine docker image release workflow
  accelerator/BUILD
  docs/build.md
Labels: C-deployment

#467 feat(mam): Implement API mam receive message
  accelerator/config.c
  accelerator/core/BUILD
  accelerator/core/apis.c
  accelerator/core/apis.h
  accelerator/core/core.c
  accelerator/core/core.h
  accelerator/core/mam_core.c
  accelerator/core/request/BUILD
  accelerator/core/request/request.h
  accelerator/core/request/ta_recv_mam.c
  accelerator/core/request/ta_recv_mam.h
  accelerator/core/response/ta_send_mam.h
  accelerator/core/serializer/serializer.c
  accelerator/core/serializer/serializer.h
  common/BUILD
  common/macros.h
  connectivity/http/http.c
  tests/api/driver.c
  tests/mam_test.c
  tests/test_define.h
  tests/unit-test/test_serializer.c
  utils/BUILD
  utils/bundle_array.h
Labels: A-mam, C-feature

#482 feat(main): Check IRI connection periodically
  accelerator/cli_info.h
  accelerator/config.c
  accelerator/config.h
  accelerator/core/core.c
  accelerator/core/core.h
  accelerator/core/serializer/serializer.c
  accelerator/core/serializer/serializer.h
  accelerator/main.c
  connectivity/http/http.c
  tests/unit-test/test_serializer.c
Labels: A-core, C-feature

#510 fix(http): Accept content type encoding UTF-8
  connectivity/http/http.c
Labels: A-router, C-bug

#511 Fix error logging message in timer
  accelerator/core/core.c
Labels: A-api, C-bug

#484 fix(MQTT): Send response when errors occured
  accelerator/main.c
  connectivity/BUILD
  connectivity/common.c
  connectivity/common.h
  connectivity/http/BUILD
  connectivity/http/http.c
  connectivity/mqtt/BUILD
  connectivity/mqtt/duplex_callback.c
Labels: A-mqtt, C-bug

#471 feat(test): Apply coverity scan on develop branch
  .travis.yml
  tests/coverity_analysis.sh
Labels: A-tests, C-deployment, C-feature, S-ready for review

#485 feat(cache): Save failed txns in caching database
  README.md
  accelerator/core/BUILD
  accelerator/core/apis.c
  accelerator/core/apis.h
  accelerator/core/core.c
  accelerator/core/response/ta_send_transfer.c
  accelerator/core/response/ta_send_transfer.h
  accelerator/core/serializer/serializer.c
  connectivity/common.h
  tests/test_define.h
  tests/unit-test/BUILD
  tests/unit-test/test_cache.c
  utils/cache/backend_redis.c
  utils/cache/cache.h
Labels: A-storage, C-feature

#520 fix(reattacher): Remove redundant quotation mark
  reattacher/reattacher_main.c
Labels: A-storage, C-bug

#516 fix(http): Support large post requests
  connectivity/common.h
  connectivity/http/http.c
Labels: A-router, C-bug, S-ready for review

#527 test(driver): Remove redundant random seed generation
  tests/api/driver.c
Labels: A-tests, C-cleanup

#532 refactor(test): Remove test_core from unittest
  tests/unit-test/BUILD
  tests/unit-test/iota_api_mock.cc
  tests/unit-test/iota_api_mock.hh
  tests/unit-test/test_core.cc
Labels: A-tests, C-deployment, C-refactor

#535 refactor: Bump version name
  accelerator/config.h
Labels: A-config, C-deployment
