Repository DLTcollab/tangle-accelerator, pull requests merged in 2020-05, with the labels that each got.

#586 fix: Make use of ta_error_to_string
  accelerator/config.c
  accelerator/core/apis.c
  accelerator/core/core.c
  accelerator/core/pow.c
  accelerator/core/proxy_apis.c
  accelerator/core/serializer/serializer.c
  common/logger.h
  common/ta_errors.c
  common/ta_errors.h
  connectivity/common.c
  connectivity/http/http.c
  connectivity/mqtt/duplex_callback.c
  connectivity/mqtt/duplex_utils.c
  connectivity/mqtt/mqtt_common.c
  connectivity/mqtt/pub_utils.c
  connectivity/mqtt/sub_utils.c
Labels: C-cleanup

#542 refactor(mam): Send mam message on channel keys
  accelerator/config.c
  accelerator/core/apis.c
  accelerator/core/core.c
  accelerator/core/mam_core.c
  accelerator/core/mam_core.h
  accelerator/core/request/ta_recv_mam.c
  accelerator/core/request/ta_recv_mam.h
  accelerator/core/response/ta_send_mam.c
  accelerator/core/response/ta_send_mam.h
  accelerator/core/serializer/serializer.c
  common/ta_errors.h
  tests/api/BUILD
  tests/api/driver.c
  tests/api/mam_test.c
  tests/unit-test/test_serializer.c
Labels: A-api, C-feature

#587 fix(serializer): Fix wrong msg length limitation
  accelerator/core/core.c
  accelerator/core/request/ta_send_transfer.c
  accelerator/core/request/ta_send_transfer.h
  accelerator/core/serializer/serializer.c
  common/macros.h
  tests/BUILD
  tests/api/BUILD
  tests/api/driver.c
  tests/api/driver_core.c
  tests/api/mam_test.c
  tests/common.c
  tests/common.h
  tests/test_define.h
  tests/unit-test/BUILD
  tests/unit-test/test_serializer.c
Labels: A-serializer, A-tests, C-bug

#597 refactor: Cleanup improper/redundant operations
  accelerator/core/response/ta_fetch_txn_with_uuid.c
  accelerator/core/response/ta_find_transactions.c
  accelerator/core/response/ta_find_transactions_obj.c
  accelerator/core/response/ta_send_transfer.c
Labels: C-cleanup, C-refactor

#600 refactor(cache): Set cache logger in debug mode
  utils/cache/backend_redis.c
Labels: A-storage, C-cleanup

#602 refactor(tests): Share random trytes generator
  tests/api/driver_core.c
  tests/api/mam_test.c
  tests/common.c
  tests/common.h
Labels: A-tests, C-refactor

#554 Introduce ScyllaDB backend as permanode implementation
  common/ta_errors.c
  common/ta_errors.h
  docs/permanode.md
  reattacher/reattacher_main.c
  storage/BUILD
  storage/scylladb_client.c
  storage/scylladb_client.h
  storage/scylladb_identity.c
  storage/scylladb_identity.h
  storage/scylladb_permanode.c
  storage/scylladb_permanode.h
  storage/scylladb_utils.c
  storage/ta_storage.h
  tests/test_define.h
  tests/unit-test/test_scylladb.c
Labels: A-storage, C-feature

#567 feat(core): Handle IOTA-aware HTTP request with threadpool and epoll
  README.md
  accelerator/BUILD
  accelerator/cli_info.h
  accelerator/config.c
  accelerator/config.h
  accelerator/core/apis.c
  accelerator/core/apis.h
  accelerator/core/proxy_apis.c
  accelerator/core/serializer/serializer.c
  accelerator/main.c
  connectivity/http/http.c
  connectivity/mqtt/duplex_callback.c
  tests/api/driver.c
  utils/BUILD
  utils/cpuinfo.h
Labels: A-router, C-performance, C-refactor

#595 refactor(mam): Return chid1 with recv_mam_message
  accelerator/core/apis.c
  accelerator/core/mam_core.c
  accelerator/core/response/response.h
  accelerator/core/response/ta_recv_mam.c
  accelerator/core/response/ta_recv_mam.h
  accelerator/core/serializer/serializer.c
  accelerator/core/serializer/serializer.h
  tests/api/mam_test.c
  tests/unit-test/test_serializer.c
Labels: A-api, A-mam, C-refactor

#599 fix(endpoint): Unify error/status code for consistency
  common/BUILD
  common/defined_error.h
  common/ta_errors.h
  endpoint/endpoint.c
  endpoint/endpoint.h
  endpoint/hal/device.c
  endpoint/hal/device.h
  endpoint/test_endpoint.c
  tests/unit-test/test_cipher.c
  tests/unit-test/test_text_serializer.c
  utils/BUILD
  utils/cipher.c
  utils/cipher.h
  utils/connectivity/conn_http.c
  utils/connectivity/conn_http.h
  utils/https.c
  utils/https.h
  utils/text_serializer.c
  utils/text_serializer.h
Labels: A-common, A-endpoint

#604 cleanup(endpoint): Eliminate compilation warnings
  endpoint/BUILD
  endpoint/endpoint.c
  endpoint/hal/BUILD
  endpoint/hal/device.c
  endpoint/hal/device.h
  endpoint/test_endpoint.c
  tests/unit-test/test_cipher.c
  tests/unit-test/test_text_serializer.c
  tests/unit-test/test_tryte_byte_conv.c
  utils/cipher.c
  utils/cipher.h
  utils/connectivity/BUILD
  utils/connectivity/conn_http.c
  utils/https.c
  utils/https.h
  utils/text_serializer.c
  utils/text_serializer.h
Labels: C-cleanup

#607 refactor(mam): refactor MAM APIs
  accelerator/core/apis.c
  accelerator/core/apis.h
  accelerator/core/mam_core.c
  accelerator/core/mam_core.h
  accelerator/core/request/ta_send_mam.c
  accelerator/core/request/ta_send_mam.h
  accelerator/core/response/ta_send_mam.c
  accelerator/core/response/ta_send_mam.h
  accelerator/core/serializer/serializer.c
  common/macros.h
  tests/api/mam_test.c
  tests/unit-test/test_serializer.c
Labels: A-mam, C-refactor

#614 fix(coverity): Fix errors reported by Coverity
  accelerator/core/core.c
  accelerator/core/mam_core.c
  accelerator/core/serializer/serializer.c
  accelerator/main.c
  accelerator/mqtt_main.c
  connectivity/mqtt/duplex_callback.c
  connectivity/mqtt/mqtt_common.c
  storage/scylladb_identity.c
  storage/scylladb_identity.h
  utils/bundle_array.h
Labels: C-bug

#623 fix(router): Sync url path to MAM implementation
  connectivity/http/http.c
Labels: A-router, C-bug

#590 refactor(core): Buffer bundles instead of txns
  accelerator/core/core.c
  accelerator/core/response/ta_fetch_txn_with_uuid.c
  accelerator/core/response/ta_fetch_txn_with_uuid.h
  accelerator/core/serializer/serializer.c
  tests/api/driver_core.c
  tests/test_define.h
  tests/unit-test/test_serializer.c
Labels: A-core, C-refactor

#609 feat(endpoint): Add HMAC support for AES encryption
  endpoint/endpoint.c
  tests/unit-test/test_cipher.c
  tests/unit-test/test_text_serializer.c
  utils/BUILD
  utils/cipher.c
  utils/cipher.h
  utils/text_serializer.c
  utils/text_serializer.h
Labels: A-endpoint, C-feature

#620 feat(api): Return address with UUID in failed requests
  accelerator/core/core.c
  accelerator/core/response/ta_send_transfer.c
  accelerator/core/response/ta_send_transfer.h
  accelerator/core/serializer/serializer.c
  tests/unit-test/test_serializer.c
Labels: A-api, C-refactor

#634 cleanup: Fix typos
  accelerator/cli_info.h
  accelerator/config.h
  accelerator/core/apis.c
  accelerator/core/core.c
  accelerator/core/core.h
  accelerator/core/mam_core.c
  accelerator/core/response/ta_send_mam.h
  accelerator/core/serializer/serializer.h
  accelerator/main.c
  accelerator/mqtt_main.c
  common/ta_errors.c
  common/ta_errors.h
  connectivity/mqtt/duplex_utils.h
  docs/MQTT-mode-intro.md
  docs/build.md
  docs/endpoint-hal.md
  storage/scylladb_client.h
  storage/scylladb_identity.c
  storage/scylladb_permanode.c
  storage/scylladb_permanode.h
  tests/api/driver_core.c
  utils/cipher.h
  utils/text_serializer.h
  utils/timer.h
Labels: C-cleanup

#514 feat(cache): Check cache capacity
  accelerator/cli_info.h
  accelerator/config.c
  accelerator/config.h
  accelerator/core/apis.h
  accelerator/core/core.c
  accelerator/main.c
  common/ta_errors.h
  docs/transaction-buffer.md
  tests/unit-test/test_cache.c
  utils/cache/backend_redis.c
  utils/cache/cache.h
Labels: A-core, C-feature

#618 feat(mam): Send mam message from given chid
  accelerator/core/mam_core.c
  accelerator/core/mam_core.h
  accelerator/core/request/ta_send_mam.c
  accelerator/core/request/ta_send_mam.h
  accelerator/core/serializer/serializer.c
  common/ta_errors.h
  tests/api/mam_test.c
  tests/unit-test/test_serializer.c
  utils/bundle_array.h
Labels: A-mam, C-feature, S-work in progress

#632 refactor(serialization): Separate serializer into components
  accelerator/core/apis.c
  accelerator/core/serializer/BUILD
  accelerator/core/serializer/ser_helper.c
  accelerator/core/serializer/ser_helper.h
  accelerator/core/serializer/ser_mam.c
  accelerator/core/serializer/ser_mam.h
  accelerator/core/serializer/serializer.c
  accelerator/core/serializer/serializer.h
  common/BUILD
  common/macros.h
  common/ta_errors.c
  common/ta_errors.h
  tests/api/BUILD
  tests/api/driver.c
  tests/api/mam_test.c
  tests/test_define.h
  tests/unit-test/test_serializer.c
Labels: A-serializer, C-bug, C-refactor

#545 feat(MQTT): Implement MQTT regression test
  tests/regression/common.py
  tests/regression/requirements.txt
  tests/regression/run-api-with-mqtt.sh
  tests/regression/runner.py
  tests/regression/test_suite/find_transactions_hash_by_tag.py
  tests/regression/test_suite/find_transactions_object_by_tag.py
  tests/regression/test_suite/generate_address.py
  tests/regression/test_suite/get_tips.py
  tests/regression/test_suite/get_tips_pair.py
  tests/regression/test_suite/get_transactions_object.py
  tests/regression/test_suite/get_transactions_object_single.py
  tests/regression/test_suite/send_transfer.py
  tests/regression/test_suite/send_trytes.py
Labels: A-mqtt, C-feature

#621 feat(mam): Add PSK for channel encryption
  accelerator/core/BUILD
  accelerator/core/mam_core.c
  accelerator/core/mam_core.h
  accelerator/core/request/ta_recv_mam.c
  accelerator/core/request/ta_recv_mam.h
  accelerator/core/serializer/ser_mam.c
  common/macros.h
  docs/MAM-procedure.md
  tests/api/mam_test.c
  tests/test_define.h
  tests/unit-test/test_serializer.c
  utils/text_serializer.c
  utils/text_serializer.h
Labels: A-mam, C-feature

#613 doc: Add documentation for different build types
  README.md
  docs/build.md
Labels: C-doc
